{% extends "base.html" %}
{% block title %}報價單{% endblock %}
{% block style %}


{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1 id="project" project_id="{{ project['project_id'] }}">{{ project['project_name'] }}</h1>
            <h3>{{ project['customer_name'] }}</h3>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" id="add_details">+新增項目</button>
        </div>
    </div>
    <div class="row mt-3">
        <!-- 報價單 -->
        <table class="table table-bordered table-hover" style="vertical-align:middle;" id="project_table">
            <thead>
                <tr>
                    <th colspan="5" class="text-center">報價單</th>
                </tr>
                <tr>
                    <th scope="col">項目</th>
                    <th scope="col">單位</th>
                    <th scope="col">數量</th>
                    <th scope="col">單價</th>
                    <th scope="col">金額</th>
                    <!-- <th scope="col">折扣</th> -->
                </tr>
            </thead>
            <tbody>
                {% for item in details %}
                <tr class="data-row" id="{{ item['sn'] }}">
                    <td name="description">{{ item['description'] }}</td>
                    <td name="unit">{{ item['unit'] }}</td>
                    <td name="quantity">{{ item['quantity'] }}</td>
                    <td name="unit_price">$ {{ item['unit_price'] }}</td>
                    <td name="price">$ {{ item['price'] }}</td>
                    <!-- <td name="discount">{{ item['price'] - item['quantity']*item['unit_price'] }}</td> -->
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                {% if project['invoice'] %}
                <tr>
                    <td colspan="4">營業稅5%</td>
                    <td>$ {{ total*0.05 }}</td>
                </tr>
                {% endif %}
                {% if discount!=0 %}
                <tr>
                    <td colspan="4">折扣</td>
                    <td>$ {{ "%.2f" | format(discount) }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="4">總金額</td>
                    <td id="ar" project_id="{{ project['project_id'] }}">$ {{ project['account_receivable'] }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="row mt-5">
        <div class=" text-end">
            <button type="button" class="btn btn-primary" id="add_payment">+新增收款</button>
        </div>
    </div>
    <div class="row mt-3">
        <!-- 收款紀錄 -->
        <table class="table table-bordered table-hover" style="vertical-align:middle;" id="payment_records">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">收款紀錄</th>
                </tr>
                <tr>
                    <th scope="col">日期</th>
                    <th scope="col">金額</th>
                    <th scope="col">備註</th>
                </tr>
            </thead>
            <tbody>
                {% for item in payment_records %}
                <tr id="{{ item['sn'] }}">
                    <td name="date">{{ item['date'] }}</td>
                    <td name="amount">{{ item['amount'] }}</td>
                    <td name="notes">{{ item['notes'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>已收金額</td>
                    <td colspan="2">{{ total_payment }}</td>
                </tr>
                <tr>
                    <td>待收金額</td>
                    <td colspan="2">{{ project['account_receivable'] - total_payment }}</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- 修改／刪除報價單 modal -->
    <div class="modal fade" id="projectDetailModifyModal" tabindex="-1" aria-labelledby="projectDetailModifyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectDetailModifyModalLabel">{{ project['project_name'] }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="description">項目</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="unit">單位</label>
                        <input type="text" class="form-control" id="unit">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="quantity">數量</label>
                        <input type="number" class="form-control" id="quantity">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="unit_price">單價</label>
                        <input type="number" class="form-control" id="unit_price">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">金額</label>
                        <input type="number" class="form-control" id="price" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary projectDetailModifyButton" name="save">儲存</button>
                    <button type="button" class="btn btn-danger projectDetailModifyButton" name="delete">刪除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modify project AR -->
    <div class="modal fade" id="modifyARModal" tabindex="-1" aria-labelledby="modifyARModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyARModalLabel">{{ project['project_name'] }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="account_receivable">原總金額</label>
                        <input type="number" class="form-control" id="account_receivable" disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="adjusted_account_receivable">調整後總額</label>
                        <input type="number" class="form-control" id="adjusted_account_receivable">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="total_discount">折扣</label>
                        <input type="number" class="form-control" id="total_discount" disabled>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" name="submit">送出</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modify project Payment -->
    <div class="modal fade" id="modifyPaymentModal" tabindex="-1" aria-labelledby="modifyPaymentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyPaymentModalLabel">{{ project['project_name'] }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="date">日期</label>
                        <input type="date" class="form-control" id="date">
                    </div>
                    <div class="mb-3" id="should_receive">
                        <!-- 應收金額 -->
                    </div>
                    <div class="mb-3" id="did_not_receive">
                        <!-- 未收金額 -->
                    </div>
                    <div class="mb-3">
                        <!-- 本次收款 -->
                        <label class="form-label" for="amount">本次收款金額</label>
                        <input type="number" class="form-control" id="amount" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="notes">備註</label>
                        <textarea class="form-control" id="notes"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" name="submit">送出</button>
                    <button type="button" class="btn btn-danger" name="delete">刪除</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/form_sending.js') }}"></script>
<script>
    const headers = ["description", "unit", "quantity", "unit_price", "price"];
    const project_id = document.getElementById('project').getAttribute('project_id');
    
    // 新增報價單
    let add_details_btn = document.getElementById('add_details');
    add_details_btn.addEventListener('click', () => {
        const modifyModal = new bootstrap.Modal('#projectDetailModifyModal', {
            keyboard: false
        });
        let modal = document.getElementById('projectDetailModifyModal');
        let modalBody = modal.querySelector('.modal-body');
        modalBody.removeAttribute('sn');
        let inputs = modal.querySelectorAll('input');
        for(pos=0; pos<inputs.length; pos++){
            inputs[pos].value = '';
        }
        summation();
        let modalFooter = modal.querySelector('.modal-footer');
        modalFooter.querySelector('[name="delete"]').style.display = 'none';
        modifyModal.show(modal);
    });

    // 點擊跳出修改報價單之畫面
    let data_row = document.getElementsByClassName('data-row');
    for(i=0; i<data_row.length; i++){
        let row = data_row[i];
        row.addEventListener('click', () => {
            const projectDetailModifyModal = new bootstrap.Modal('#projectDetailModifyModal', {
                keyboard: false
            });
            let modal = document.getElementById('projectDetailModifyModal');
            let modalBody = modal.querySelector('.modal-body');
            modalBody.setAttribute('sn', row.getAttribute('id'));
            for(g=0; g<headers.length; g++){
                let item = row.children[g];
                let value_ = item.innerHTML.substring(0, 1) === '$' ? item.innerHTML.substring(2):item.innerHTML;
                document.getElementById(headers[g]).value = value_;
            }
            summation();
            modal.querySelector('.modal-footer').querySelector('[name="delete"]').style.display = '';
            projectDetailModifyModal.show(modal);
        });
    };

    // 送出修改報價單
    let projectDetailModifyButtons = document.getElementsByClassName('projectDetailModifyButton');
    for(i=0; i<projectDetailModifyButtons.length; i++){
        let btn = projectDetailModifyButtons[i]
        btn.addEventListener('click', () => {
            let modal = document.getElementById('projectDetailModifyModal');
            let modalBody = modal.querySelector('.modal-body');
            data = Object();
            if(btn.name === 'save'){
                for(i=0; i<headers.length; i++){
                    let item_value = document.getElementById(headers[i]).value;
                    data[headers[i]] = item_value;
                }
                if(modalBody.getAttribute('sn')){
                    data['sn'] = modalBody.getAttribute('sn');
                }
                requset_and_toast_alert('/api/projectDetails/'+project_id, 'put', data, '新增');
            }else if(btn.name === 'delete'){
                if(modalBody.getAttribute('sn')){
                    data['sn'] = modalBody.getAttribute('sn');
                    requset_and_toast_alert('/api/projectDetails/'+project_id, 'delete', data, '刪除');
                }
            }
            // window.location.reload();
        });
    };

    // 自動計算總金額
    function summation(){
        let quantity_input = document.getElementById('quantity');
        let unit_price_input = document.getElementById('unit_price');
        let price_input = document.getElementById('price');
        let modalBody = document.querySelector('.modal-body');
        let price_label = modalBody.children[modalBody.children.length-1].children[0];

        if(quantity_input.value != '' & unit_price_input.value != ''){
            let quantity_ = parseFloat(quantity_input.value);
            let unit_price_ = parseFloat(unit_price_input.value);
            let summation_ = quantity_ * unit_price_;
            price_label.innerHTML = `金額（數量 × 單價 = ${quantity_*unit_price_}）`;
            // if(price_input.value == ''){
            price_input.value = quantity_*unit_price_
            // }
        }else{
            price_label.innerHTML = '金額';
        }
    }
    let quantity_input = document.getElementById('quantity');
    let unit_price_input = document.getElementById('unit_price');
    quantity_input.addEventListener('blur', () => {
        summation();
    });
    unit_price_input.addEventListener('blur', () => {
        summation();
    });

    // 調整總金額
    document.getElementById('ar').addEventListener('click', (event) => {
        const thisModal = new bootstrap.Modal('#modifyARModal', {
            keyboard: false
        });
        const modifyARModal = document.getElementById('modifyARModal');
        const ar = event.target;
        const inputs_ = modifyARModal.querySelectorAll('input');

        inputs_[0].value = Number(ar.innerHTML.substring(2));
        inputs_[1].addEventListener('keyup', (event) => {
            inputs_[2].value = inputs_[0].value - Number(event.target.value);
        })
        const project_id = ar.getAttribute('project_id');
        const btn = modifyARModal.querySelector('[name="submit"]');

        btn.addEventListener('click', () => {
            const data = {
                'account_receivable': inputs_[1].value
            }
            requset_and_toast_alert('/api/project/'+project_id, 'PATCH', data, '修改');
        })
        thisModal.show(modifyARModal);
    });

    // 新增收款紀錄
    document.getElementById('add_payment').addEventListener('click', () => {
        const thisModal = new bootstrap.Modal('#modifyPaymentModal', {
            keyboard: false
        });
        const paymentModal = document.getElementById('modifyPaymentModal');
        empty_all_input_value();
        paymentModal.querySelector('[name="delete"]').style.display = 'none';

        var now = new Date();
        var month = (now.getMonth() + 1);               
        var day = now.getDate();
        if (month < 10) 
            month = "0" + month;
        if (day < 10) 
            day = "0" + day;
        var today = now.getFullYear() + '-' + month + '-' + day;
        document.getElementById('date').value = today;
        document.getElementById('should_receive').innerHTML = "應收金額：${{ project['account_receivable'] }}";
        document.getElementById('did_not_receive').innerHTML = "未收金額：${{ project['account_receivable'] - total_payment }}";

        paymentModal.querySelector('[name="submit"]').addEventListener('click', () => {
            let inputs = paymentModal.querySelectorAll('input, textarea');
            let data = Object();
            for(i=0; i<inputs.length; i++){
                data[`${inputs[i].id}`] = inputs[i].value;
            };
            requset_and_toast_alert(`/api/projectPayment/${project_id}`, 'put', data, '新增');
        });
        thisModal.show(paymentModal);
    });
    const payment_records = document.getElementById('payment_records').querySelector('tbody').querySelectorAll('tr');
    for(pr_pos=0; pr_pos<payment_records.length; pr_pos++){
        payment_records[pr_pos].addEventListener('click', (event) => {
            let sn = event.target.parentElement.id;
            const thisModal = new bootstrap.Modal('#modifyPaymentModal', {
                keyboard: false
            });
            const paymentModal = document.getElementById('modifyPaymentModal');
            empty_all_input_value();
            paymentModal.querySelector('[name="delete"]').style.display = 'block';

            document.getElementById('should_receive').innerHTML = "";
            document.getElementById('did_not_receive').innerHTML = "";

            let inputs = paymentModal.querySelectorAll('input, textarea');
            for(i=0; i<inputs.length; i++){
                inputs[i].value = event.target.parentElement.querySelector(`[name="${inputs[i].id}"]`).innerHTML;
            };

            paymentModal.querySelector('[name="delete"]').addEventListener('click', () => {
                requset_and_toast_alert(`/api/projectPayment/${project_id}`, 'delete', {'sn': sn}, '刪除');
            });
            paymentModal.querySelector('[name="submit"]').addEventListener('click', () => {
                let inputs = paymentModal.querySelectorAll('input, textarea');
                let data = Object();
                for(i=0; i<inputs.length; i++){
                    data[`${inputs[i].id}`] = inputs[i].value;
                };
                data['sn'] = sn
                requset_and_toast_alert(`/api/projectPayment/${project_id}`, 'put', data, '新增');
            });

            thisModal.show(paymentModal);
            
        })
    };

    function empty_all_input_value(){
        let inputs = document.querySelectorAll('input, textarea');
        for(i=0; i<inputs.length; i++){
            inputs[i].value = '';
        };
    };
</script>
{% endblock %}