{% extends "base.html" %}
{% block title %}外包項目{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-3">    

        <div class="col">
            <h1>{{ project['project_name'] }}</h1>
            <h3>{{ project['customer_name'] }}</h3>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary" id="createButton">+新增外包項目</button>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-bordered" style="vertical-align:middle;" id="dataTable">
            <thead>
              <tr>
                <th scope="col">日期</th>
                <th scope="col"><a href="/outsourcer">外包商</a></th>
                <th scope="col">項目</th>
                <th scope="col">金額</th>
                <th scope="col">備註</th>
              </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr sn="{{ record['sn'] }}">
                    <td name="date">{{ record['date'] }}</td>
                    <td name="outsourcer_id" style="display: none;">{{ record['outsourcer_id'] }}</td>
                    <td name="outsourcer_name">{{ record['outsourcer_name'] }}</td>
                    <td name="description">{{ record['description'] }}</td>
                    <td name="price">{{ record['price'] }}</td>
                    <td name="notes">{{ record['notes'] if record['notes'] else null }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- add storehouse modal -->
    <div class="modal fade" id="modifyDataModal" tabindex="-1" aria-labelledby="modifyDataModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifyDataModalLabel">新增外包項目</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="date">日期</label>
                        <input type="date" class="form-control" id="date" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="outsourcer_id">外包商</label>
                        <select type="text" class="form-select" id="outsourcer_id">

                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">項目</label>
                        <input type="text" class="form-control" id="description" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">金額</label>
                        <input type="number" class="form-control" id="price" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="notes">備註</label>
                        <textarea type="text" class="form-control" id="notes"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary modifyButton" name="save">送出</button>
                    <button type="button" class="btn btn-danger modifyButton" name="delete">刪除</button>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/form_sending.js') }}"></script>
<script>
    const project_id = '{{ project["project_id"] }}';
    const content = '';
    const chineseName = '外包項目';
    // modal
    const modal = document.getElementById('modifyDataModal');
    const modalHeader = modal.querySelector('.modal-header');
    const modalBody = modal.querySelector('.modal-body');
    const modalFooter = modal.querySelector('.modal-footer');
    // table
    const table = document.getElementById('dataTable');
    const tbody = table.querySelector('tbody');

    function get_outsourcer(){
        return new Promise((resolve, reject) => {
            const outsourcer_input = document.getElementById('outsourcer_id');
            fetch('/api/outsourcer/', {
                method: 'get'
            }).then((response) => {
                return response.json();
            }).then((data) => {
                outsourcer_input.innerHTML = '';
                for(i=0; i<data.length; i++){
                    var outsourcer = data[i]
                    var option_ = document.createElement('option');
                    option_.value = outsourcer['outsourcer_id'];
                    option_.innerHTML = outsourcer['outsourcer_name'] + ` (${outsourcer['notes']})`;
                    outsourcer_input.appendChild(option_);
                };
                resolve();
            })
        });
    };
    // create
    const create_btn = document.getElementById('createButton');
    create_btn.addEventListener('click', () => {
        const modifyDataModal = new bootstrap.Modal(`#modifyDataModal`, {
            keyboard: false
        });
        let title = modal.querySelector('.modal-header').querySelector('h5');
        title.innerHTML = '新增' + chineseName;
        get_outsourcer();
        modalBody.removeAttribute('sn');
        const inputs_ = modal.querySelectorAll('input, textarea');
        for(i=0; i<inputs_.length; i++){
            inputs_[i].value = '';
        }
        
        modalFooter.querySelector('[name="delete"]').style.display = 'none';
        modifyDataModal.show(modal);
    });

    // modify data
    const data_row = tbody.querySelectorAll('tr');
    for(i=0; i<data_row.length; i++){
        let row = data_row[i];
        row.addEventListener('click', () => {
            const modifyDataModal = new bootstrap.Modal(`#modifyDataModal`, {
                keyboard: false
            });
            // title
            let title = modalHeader.querySelector('h5');
            title.innerHTML = `更新${chineseName}資訊`;
            // body
            modalBody.setAttribute('sn', row.getAttribute('sn'));
            async function fillin(){
                let s = await get_outsourcer();
                for(g=0; g<row.children.length; g++){
                    let item = row.children[g];
                    let input_ = document.getElementById(item.getAttribute('name'));
                    if(input_){
                        input_.value = item.innerHTML;
                    };
                };
            };
            fillin();
            // footer
            modalFooter.querySelector('[name="delete"]').style.display = 'block';
            modifyDataModal.show(modal);
        });
    }

    const modifyButtons = document.getElementsByClassName('modifyButton');
    for(i=0; i<modifyButtons.length; i++){
        const btn = modifyButtons[i];
        btn.addEventListener('click', (event) => {
            let input_ = modalBody.querySelectorAll('input, select, textarea');
            let data = Object();
            for(g=0; g<input_.length; g++){
                let item = input_[g];
                var value = item.value;
                data[item.id] = value === '' ? null : value.trim();
            }
            data['project_id'] = project_id

            const sn = modalBody.getAttribute('sn');
            if(sn !== null){
                data['sn'] = sn
            };
            
            if(event.target.name==='save'){
                requset_and_toast_alert('/api/projectOutsourced/'+project_id, 'put', data, '修改');
            }else{
                requset_and_toast_alert('/api/projectOutsourced/'+project_id, 'delete', {'sn': sn}, '刪除');
            }
        }) 
    }
</script>
{% endblock %}