{% extends "base.html" %}
{% block title %}外包商{% endblock %}

{% block body %}
<div class="container">
  <div class="row mt-3">    
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
      <div class="input-group">
        <input type="text" id="tableSearchInput" class="form-control" placeholder="搜尋..." aria-label="table search" aria-describedby="tableSearch">
        <button class="btn btn-primary" id="tableSearch">搜尋</button>
      </div>
      <button type="button" class="btn btn-primary" id="createButton">+新增外包商</button>
    </div>
  </div>
  <div class="row mt-3">
    <table class="table table-bordered" style="vertical-align:middle;" id="dataTable">
      <thead>
        <tr>
          <th scope="col">外包商</th>
          <th scope="col">聯絡人</th>
          <th scope="col">聯絡電話</th>
          <th scope="col" style="display:none;">傳真</th>
          <th scope="col" style="display:none;">E-mail</th>
          <th scope="col">抬頭</th>
          <th scope="col">統編</th>
          <th scope="col">請款日</th>
          <th scope="col">放款日</th>
          <th scope="col">郵寄地址</th>
          <th scope="col">付款方式</th>
          <th scope="col" style="display:none;">備註</th>
        </tr>
      </thead>
      <tbody>
          {% for outsourcer in outsourcers %}
          <tr id="{{ outsourcer['outsourcer_id'] }}">
              <th scope="row" name="outsourcer_name">{{ outsourcer['outsourcer_name']}}</th>
              <td name="contact_person">{{ outsourcer['contact_person'] if outsourcer['contact_person'] else null }}</td>
              <td name="contact_number">{{ outsourcer['contact_number'] if outsourcer['contact_number'] else null }}</td>
              <td name="fax" style="display:none;">{{ outsourcer['fax'] if outsourcer['email'] else null }}</td>
              <td name="email" style="display:none;">{{ outsourcer['email'] if outsourcer['email'] else null }}</td>
              <td name="outsourcer_title">{{ outsourcer['outsourcer_title'] }}</td>
              <td name="tax_id_num">{{ outsourcer['tax_id_num'] if outsourcer['tax_id_num'] else null }}</td>
              <td name="invoice_date">{{ outsourcer['invoice_date'] if outsourcer['invoice_date'] else null }}</td>
              <td name="drawdown_date">{{ outsourcer['drawdown_date'] if outsourcer['drawdown_date'] else null }}</td>
              <td name="address">{{ outsourcer['address'] if outsourcer['address'] else null }}</td>
              <td name="payment_method">{{ outsourcer['payment_method'] if outsourcer['payment_method'] else null }}</td>
              <td name="notes" style="display:none;">{{ outsourcer['notes'] if outsourcer['notes'] else null }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div class="modal fade" id="modifyDataModal" tabindex="-1" aria-labelledby="modifyDataModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modifyDataModalLabel">新增外包商</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="outsourcer_name" class="form-label">公司名稱</label>
            <input class="form-control" id="outsourcer_name" required>
          </div>
          <div class="mb-3">
            <label for="contact_person" class="form-label">聯絡人</label>
            <input class="form-control" id="contact_person">
          </div>
          <div class="mb-3">
            <label for="contact_number" class="form-label">聯絡電話</label>
            <input class="form-control" id="contact_number">
          </div>
          <div class="mb-3">
            <label for="fax" class="form-label">傳真</label>
            <input class="form-control" id="fax">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">電子信箱</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="outsourcer_title" class="form-label">抬頭</label>
            <input class="form-control" id="outsourcer_title" required>
          </div>
          <div class="mb-3">
            <label for="tax_id_num" class="form-label">統編</label>
            <input type="text" class="form-control" id="tax_id_num">
          </div>
          <div class="mb-3">
            <label for="invoice_date" class="form-label">請款日</label>
            <input class="form-control" id="invoice_date">
          </div>
          <div class="mb-3">
            <label for="drawdown_date" class="form-label">放款日</label>
            <input class="form-control" id="drawdown_date">
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">郵寄地址</label>
            <input type="text" class="form-control" id="address">
          </div>
          <div class="mb-3">
            <label for="payment_method" class="form-label">付款方式</label>
            <input type="text" class="form-control" id="payment_method" list="method_list">
            <datalist id="method_list">
              <option value="匯款">
              <option value="現金">
              <option value="開票">
            </datalist>
          </div>
          <div class="mb-3">
            <label for="notes" class="form-label">備註</label>
            <textarea class="form-control" id="notes"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary modifyButton" name="save">送出</button>
          <button type="button" class="btn btn-danger modifyButton" name="delete">刪除</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/form_sending.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/table_serach.js') }}"></script>
<script>
  const modal = document.getElementById('modifyDataModal');
  const modalBody = modal.querySelector('.modal-body');

  const createButton = document.getElementById('createButton');
  createButton.addEventListener('click', () => {
    const modifyModal = new bootstrap.Modal('#modifyDataModal', {
      keyboard: false
    });

    modalBody.removeAttribute('outsourcer_id');
    let inputs = modal.querySelectorAll('input, textarea');
    for(pos=0; pos<inputs.length; pos++){
      inputs[pos].value = null;
    }
    // summation();
    let modalFooter = modal.querySelector('.modal-footer');
    modalFooter.querySelector('[name="delete"]').style.display = 'none';
    modifyModal.show(modal);
  });

  const dataTable = document.getElementById('dataTable');
  const data_row = dataTable.querySelector('tbody').querySelectorAll('tr');
  for(i=0; i<data_row.length; i++){
    let row = data_row[i];
    row.addEventListener('click', () => {
      const modifyModal = new bootstrap.Modal('#modifyDataModal', {
        keyboard: false
      });
      
      modalBody.setAttribute('outsourcer_id', row.getAttribute('id'));
      for(g=0; g<row.children.length; g++){
        let item = row.children[g];
        document.getElementById(item.getAttribute('name')).value = item.innerHTML;
      }
      modal.querySelector('.modal-footer').querySelector('[name="delete"]').style.display = null;
      modifyModal.show(modal);
    });
  };

  const modifyButtons = document.getElementsByClassName('modifyButton');
  for(i=0; i<modifyButtons.length; i++){
    const btn = modifyButtons[i];
    btn.addEventListener('click', () => {
      let input_ = modalBody.querySelectorAll('input, textarea');
      let data = Object();
      for(g=0; g<input_.length; g++){
        let item = input_[g];
        var value = item.value;
        data[item.id] = value === '' ? null : value.trim();
      }
      const outsourcer_id = modalBody.getAttribute('outsourcer_id');
      if(outsourcer_id){
        if(btn.getAttribute('name') === 'save'){
          requset_and_toast_alert('/api/outsourcer/'+outsourcer_id, 'put', data, '修改');
        }else if(btn.getAttribute('name') === 'delete'){
          requset_and_toast_alert('/api/outsourcer/'+outsourcer_id, 'delete', {}, '刪除');
        }
      }else{
        requset_and_toast_alert('/api/outsourcer/', 'post', data, '登錄');
      }
    })
  };
</script>

{% endblock %}